@charset "utf-8";
#wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#header {
	color: rgba(252,252,252,1.00);
	text-shadow: 0px 0px rgba(255,255,255,1.00);
}
#My_nav1 {
	color: rgba(240,240,240,1.00);
	background-color: rgba(0,0,0,1.00);
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
	float: none;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	text-indent: 4px;
	font-size: large;
	opacity: 1;
	margin-top: -5px;
	
	
}
#My_nav1 a{
	text-decoration: none;
	color: white;
}
#main_section {
	width: 61%;
	float: right;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 15px;
	margin-right: -1px;
	margin-bottom: 0px;
	margin-top: -17px;
	clear: both;
	font-size: xx-large;
}
h5 {
}

#footer  {
	clear: both;
	background-color: rgba(0,0,0,1.00);
	height: 201px;
	width: 101%;
	-webkit-box-shadow: 0px 0px rgba(233,233,233,1.00);
	box-shadow: 0px 0px rgba(233,233,233,1.00);
	color: rgba(240,232,21,1.00);
	text-align: center;
	padding-top: 120px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

#left_side {
	width: 30%;
	color: rgba(23,1,1,1.00);
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 0px;
	margin-right: 4px;
	background-position: 0 0%;
	background-size: 0 0;
	text-shadow: 0px 0px;
	clear: left;
	min-width: 0px;
	min-height: 41px;
	display: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	font-size: x-large;
	height: 72%;
	float: left;
	background-color: rgba(148,157,174,1.00);
	padding-bottom: 100px;
	margin-top: 0px;
	text-transform: none;
}
h1 {
	-webkit-box-shadow: 0px 0px rgba(0,0,0,1.00);
	box-shadow: 0px 0px rgba(0,0,0,1.00);
	margin-left: -1px;
	text-transform: capitalize;
}
.my_image   {
	margin-left: -29px;
	margin-right: -245px;
	margin-top: -30px;
	margin-bottom: -46px;
	padding-right: 213px;
	padding-left: 8px;
	padding-top: 23px;
	float: left;
	top: 12px;
	right: 29px;
	clear: left;
	left: 5px;
	padding-bottom: 3px;
}
#least_nav {
	width: 50px;
	height: 30px;
	color: rgba(243,221,20,1.00);
	margin-left: 423px;
	margin-top: 133px;
	padding-left: 4px;
	padding-top: 0px;
	float: left;
}
